@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-text-color: 0, 0, 0;
  --secondary-text-color: 255, 255, 255;

  --primary-background: 255 255 255;
  --secondary-background: 0 0 0;
}

.dark {
  --primary-text-color: 255, 255, 255;
  --secondary-text-color: 0, 0, 0;

  --primary-background: 0 0 0;
  --secondary-background: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: 255, 255, 255;
    --secondary-text-color: 0, 0, 0;

    --primary-background: 0 0 0;
    --secondary-background: 255 255 255;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Clears the 'X' from Internet Explorer */
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Clears the 'X' from Chrome */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
